<p> You have visited  the page <%= pluralize @visit_count, 'time' %></p>

<form action="/song/index" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <input type="text" name="term" id="term" />
  <input type="submit" name="commit" value="Search" data-disable-with="Search" />
</form>

<div class="container-fluid">


    <h2>List of Songs </h2>
    <ul class="list-group">
        <li><h1><%= link_to 'Sort By Genre' , '/song/genre'  %></h1></li>
        <li><h1><%= link_to 'Sort By Popularity' , '/song/popularity'  %></h1></li>
       
    </ul>
    <% if @result.nil? %>
    <ul class="list-group">
    <%= paginate @list_song %>
        <% @list_song.each do |song| %>
            <% date_dif = Date.today.mjd - song.created_at.to_date.mjd %>
                <% if date_dif < 2 %>
                    <li class="list-group-item">
                        <span class="badge badge-danger">New</span><%= link_to song.song_name, song  %>  
                    </li>
                <% else %>
                    <li class="list-group-item">
                        <%= link_to song.song_name, song  %>  
                    </li>    
                <% end %>
        <% end %>
    </ul>
    <% end %>
    
</div>
