<div class="band">
    <% if band.image.present? %>
        <p><%= image_tag band.image.url %></p>

    <% end %>
    <p><b>Founded:</b> <%= band.founded%></p>
    <p><b>Band Type: </b> <%= band.bandtype%></p>
    <p><b>Band Contact number: </b> <%= band.band_contact_number%></p>
    <p><b>Band Biography: </b> <%= band.band_biography%></p>
</div>