<div class="container-fluid">
    <% @show_band.each do |band| %> 
    <h1>Welcome to <%= band.band_name%> </h1>
        <div class="details">
            <p><b>Founded:</b> <%= band.founded%></p>
            <p><b>Band Type</b> <%= band.bandtype%></p>
            <p><b>Band Contact number:</b> <%= band.band_contact_number%></p>
            <p><b>Band Biography</b> <%= band.band_biography%></p>
        </div>
    <% end %>

    <ul>
        <li><h1><%= link_to 'Band Members' , '/band_member/index'  %></h1></li>
        <%# <li><h1><%= link_to 'Songs' , '/attack/index'  %></h1></li> %>
    </ul>
</div>